<div class="primary">
  @if (!loading) {
    <div class="secondary">
      <img [src]="animeDetail().attributes.coverImage?.small" />
      <div class="container">
        <div>
          <p class="name">{{ getNameOfAnime() }}</p>
          <p class="dub">Dub | Leg</p>

          <div class="average-rating">
            @for (
              item of getArrayOfNumber();
              track $index;
              let first = $first
            ) {
              <span [ngClass]="{ 'mg-l-4': !first }">⭐</span>
            }
            <span class="average mg-l-4"
              >Nota média:
              <span class="rating">
                {{ averageRatingOfAnime }}
                ({{ animeDetail().attributes.userCount | kformatter }})
              </span></span
            >
          </div>

          <p class="desc">
            {{ animeDetail().attributes.description }}
          </p>

          @for (item of genreOfAnime(); track $index; let first = $first) {
            <span [ngClass]="{ 'mg-l-4': !first }" class="gener">{{
              item
            }}</span>
          }
        </div>

        <img
          class="img"
          loading="lazy"
          [src]="animeDetail().attributes.posterImage.large" />
      </div>
    </div>
  } @else {
    <app-loader />
  }
</div>
