<div
  class="primary"
  [ngStyle]="{
    'padding-left.px': screenWidth(),
    'padding-right.px': screenWidth()
  }">
  <div class="header">
    <h1>Animes</h1>
    <span class="item filtrar">
      <p
        [ngClass]="{ background: filterList }"
        class="subtitle"
        (click)="filterList = !filterList">
        <mat-icon matSuffix>filter_list</mat-icon> Mais Populares
      </p>
      @if (filterList) {
        <div class="content-filtrar">
          <mat-radio-group aria-label="Select an option">
            @for (radio of radioGroup[0]; track $index) {
              <mat-radio-button
                (click)="filterBy(radio.value)"
                [value]="radio.value"
                >{{ radio.text }}</mat-radio-button
              >
            }
          </mat-radio-group>
        </div>
      }
    </span>
  </div>

  <div class="container">
    <h2>Populares</h2>
    <mat-grid-list [cols]="innerWidth()" rowHeight="22rem">
      @for (anime of animes(); track anime) {
        <mat-grid-tile
          [routerLink]="['/anime-detail']"
          [state]="{ animeDetail: anime }">
          @defer {
            <img
              class="img"
              loading="lazy"
              [src]="anime.attributes.posterImage.large" />
          } @placeholder {
            A imagem será carregada em breve...
          } @loading (minimum 1500ms) {
            <app-skeleton></app-skeleton>
          }
          <p class="name">{{ getNameOfAnime(anime) }}</p>
          <p class="dub">Dub | Leg</p>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
</div>
